<ion-header>
  <ion-toolbar>
    <ion-title>Bem-vindo ao ODS 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Saúde e Bem-Estar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" routerLink="/login">Login</ion-button>
        <ion-button expand="full" routerLink="/register">Registrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
